/* ===== ErrorPopup CSS ===== */

.error-popup-container {
  position: fixed;
  display: flex;
  align-items: center;
  right: 10px;
  top: 10px;
  background-color: #ffd9d9;
  border: 2px solid #ff3838;
  padding: 20px 20px;
  border-radius: 10px;
}

.error-popup-container>button {
  margin-left: 10px;
  background-color: #ffd9d9;
}